/*header start*/
*{
	box-sizing: border-box;
}
.header-div{
	z-index: 1;
	position: fixed;
	top: 0;
	height: 50px;
	width: 100%;
	background: red;
	margin: 0 0 25px 0;
}
.li{
	display: inline-block;
	vertical-align: middle;
	margin: 15px 20px;
}
.li-div{
}
/*header endded*/


/*section start*/
.h2{
	font-size: 24px;
}
.section-div{
	background: green;
	margin: 75px auto 0 auto;
	height: 410px;
	width: 1160px
}
.img-div{
	display: inline-block;
	position: relative;
	height: 350px;
	background: #fff;
	border-radius: 2%;
}
.img-div-2{
	margin: 0 40px;
}
.p-1{
	position: absolute;
	top: 25px;
	left: 40px;
	color: #fff;
	font-size: 16px;
}
.p-2{
	color: #A6ADB4;
	width: 280px;
	margin:66px auto;
	font-size: 13px;
}
/*.div-1{
	/*display: inline-block;*/
	margin: 50px auto;
	background: greenyellow;
	width: 300px;
	height: 200px;
}*/